@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background: #525A75;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.type-column {
  width: 30%;
  float: left;
  margin: 30px 1.5%;
  padding-bottom: 20px;
}

.note-text {
  width: 60%;
  display: block;
  margin-left: 20%;
  margin-top: 20px;
  text-align: left;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}

.note-text.blur {
  color: transparent !important;
  text-shadow: 0 0 5px rgba(0,0,0,0.75);
}

.note-text.green {
  border-left: 20px solid #7bfc03;
}

.note-text.red {
  border-left: 20px solid #fc5603;
}

.note-text.yellow {
  border-left: 20px solid #f9ff80;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flip {
  display: block;
  margin: 0 auto;
  background: #f5f2f2;
  border: 1px solid #bababa;
  padding: 10px 20px;
  font-size: 18px;
}